div.container { max-width: 966px; padding: 5px; }

hr {
  margin-bottom: -5px;
  border-top: 5px solid #eee;
}

.navbar-transparent {
  background-color: transparent;
  border: none;
}

.navbar-transparent .show {
  background-color: #666666;
  opacity: 0.75;
  border: none;
}

.navbar-transparent li {
  padding: 0;
  margin-right: 35px;
  float: none;
  display: inline-block;
}

.navbar-transparent li a {
  font-size: 15px;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 12px;
}

.navbar-transparent li.active a {
  border-top: 5px solid #3399FF;
  padding-top: 9px !important;
  color: #3399FF !important;
  background-color: transparent !important;
}

.navbar-transparent li a:hover {
  border-top: 5px solid #3399FF;
  padding-top: 9px !important;
  color: #3399FF !important;
}

.navbar-transparent li.open a.dropdown-toggle {
  border-top: 5px solid #3399FF;
  padding-top: 9px !important;
  color: #3399FF !important;
  background-color: transparent !important;
}

ul.dropdown-menu {
  min-width: 114px !important;
}

ul.dropdown-menu li {
  display: block;
  margin: 0;
}

ul.dropdown-menu li a:hover {
  background-color: #3399FF;
  color: white !important;
}

div.navbar-collapse {
  padding: 0;
  border-bottom: 1px solid #eee;
}

div.input-group {
  width: 200px;
  margin-top: 12px;
}

div.input-group input { height: 25px; }
div.input-group button {
  height: 25px;
  padding: 0 5px 0 5px;
}

div.footer { margin-top: 50px; }

div.footer .header {
  border-bottom: 3px solid #eee;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

div.footer ul { padding: 0; }
div.footer li { list-style: none; }
div.footer span.tweet p {
  font-size: 12px;
  color: #666;
}

div.footer span.tweet p.time {
  color: #03a3e1;
}

div.footer div#social div.col-md-6 {
  padding-right: 0;
}

div.footer div#social div.icon { margin-top: 4px; }
div.footer div#social div.detail { margin-left: 7px; }
div.footer div#social div.detail p {
  margin: 0;
  font-size: 13px;
}

footer {
  color: #03a3e1;
  font-size: 11px;
  padding: 50px 0;
}

footer div.container { border-top: 2px solid #eee }
footer div.content { margin-top: 10px; }
footer li {
  list-style: none;
  display: inline-block;
}
footer li:after { content: " | "; }